.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: rgba(204, 152, 9, 0.521);
}

.bg-pink{
    background-color: #7f2424;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content:space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bolder;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue{
    color: rgb(225, 117, 28);
}

.text-red{
    color: burlywood;
}

.btn{
    padding:7px 12px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: antiquewhite;
    background-color: rgb(127, 36, 36);
}



.dumbellimg{
    width: 200px;
}

.gymimg{
    width: 469px;
}

.text-center{
    text-align: center;
}